@import "tailwindcss";

@theme {
  --color-brand-lightest: #d2ebff;
  --color-brand-light: #bfe3ff;
  --color-brand-muted: #adbfce;
  --color-brand: #3e7ca6;
  --color-brand-dark: #2c5a7d;
}

body {
  @apply bg-slate-50 text-gray-900 antialiased;
}
